body {
  background-color: lightskyblue;
}
h1 {
  text-align: center;
  front-size: 80px;
}
h2 {
  text-align: center;
  front-size: 60px;
}
p {
  front-size: 50px;
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
